In [55]:
# Load libraries
import pandas as pd

In [57]:
# Define constants
BTC_DATA_PATH = '../data/'

In [59]:
# Define output dataframe
out = pd.DataFrame()

In [61]:
# Load heist data
heist_data = pd.read_csv(BTC_DATA_PATH + "btc_HeistData.csv")

In [63]:
# View some info about the heist data
print(heist_data.info(), "\n")
print(heist_data.head(3), "\n")
print(heist_data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916697 entries, 0 to 2916696
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   address    object
 1   year       int64
 2   day        int64
 3   length     int64
 4   weight     float64
 5   count      int64
 6   looped     int64
 7   neighbors  int64
 8   income     float64
 9   label      object
dtypes: float64(2), int64(6), object(2)
memory usage: 222.5+ MB
None

                              address  year  day  length    weight  count  \
0   111K8kZAEnJg245r2cM6y9zgJGHZtJPy6  2017   11      18  0.008333      1
1  1123pJv8jzeFQaCV4w644pzQJzVWay2zcA  2016  132      44  0.000244      1
2  112536im7hy6wtKbpH1qYDWtTyMRAcA2p7  2016  246       0  1.000000      1

   looped  neighbors       income            label
0       0          2  100050000.0  princetonCerber
1       0          1  100000000.0   princetonLocky
2       0          2  200000000.0  princetonCerber

(2916697, 10)

In [65]:
# Check for nulls
heist_data.isna().sum()

address      0
year         0
day          0
length       0
weight       0
count        0
looped       0
neighbors    0
income       0
label        0
dtype: int64

In [67]:
# Check for duplicates
heist_data.duplicated().any()

False

In [68]:
# Add flag to indicate this is fraudulent transaction data
heist_data = heist_data.assign(isFraud=1)

print(heist_data.info(), "\n")
print(heist_data.head(), "\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916697 entries, 0 to 2916696
Data columns (total 11 columns):
 #   Column     Dtype
---  ------     -----
 0   address    object
 1   year       int64
 2   day        int64
 3   length     int64
 4   weight     float64
 5   count      int64
 6   looped     int64
 7   neighbors  int64
 8   income     float64
 9   label      object
 10  isFraud    int64
dtypes: float64(2), int64(7), object(2)
memory usage: 244.8+ MB
None

                              address  year  day  length    weight  count  \
0   111K8kZAEnJg245r2cM6y9zgJGHZtJPy6  2017   11      18  0.008333      1
1  1123pJv8jzeFQaCV4w644pzQJzVWay2zcA  2016  132      44  0.000244      1
2  112536im7hy6wtKbpH1qYDWtTyMRAcA2p7  2016  246       0  1.000000      1
3  1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7  2016  322      72  0.003906      1
4  1129TSjKtx65E35GiUo4AYVeyo48twbrGX  2016  238     144  0.072848    456

   looped  neighbors       income            label  isFraud
0       0          2  100050000.0  princetonCerber        1
1       0          1  100000000.0   princetonLocky        1
2       0          2  200000000.0  princetonCerber        1
3       0          2   71200000.0  princetonCerber        1
4       0          1  200000000.0   princetonLocky        1

In [71]:
# Need to add month column to stay consistent with other data.
heist_data['date'] = pd.to_datetime(heist_data['year'] * 1000 + heist_data['day'], format='%Y%j')
heist_data['month'] = heist_data['date'].dt.month

heist_data.drop(columns=['date'])

,address,year,day,length,weight,count,looped,neighbors,income,label,isFraud,month
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,1.000500e+08,princetonCerber,1,1
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,1.000000e+08,princetonLocky,1,5
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,2.000000e+08,princetonCerber,1,9
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,7.120000e+07,princetonCerber,1,11
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,2.000000e+08,princetonLocky,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...
2916692,12D3trgho1vJ4mGtWBRPyHdMJK96TRYSry,2018,330,0,0.111111,1,0,1,1.255809e+09,white,1,11
2916693,1P7PputTcVkhXBmXBvSD9MJ3UYPsiou1u2,2018,330,0,1.000000,1,0,1,4.409699e+07,white,1,11
2916694,1KYiKJEfdJtap9QX2v9BXJMpz2SfU4pgZw,2018,330,2,12.000000,6,6,35,2.398267e+09,white,1,11
2916695,15iPUJsRNZQZHmZZVwmQ63srsmughCXV4a,2018,330,0,0.500000,1,0,1,1.780427e+08,white,1,11
2916696,3LFFBxp15h9KSFtaw55np8eP5fv6kdK17e,2018,330,144,0.073972,6800,0,2,1.123500e+08,white,1,11

In [72]:
# Check if month is saved correctly
heist_data["month"].head()

0     1
1     5
2     9
3    11
4     8
Name: month, dtype: int32

In [75]:
# dropping column(s) in order to merge with out dataframe much easier. 
heist_data.drop(columns=["label"])

,address,year,day,length,weight,count,looped,neighbors,income,isFraud,date,month
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,1.000500e+08,1,2017-01-11,1
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,1.000000e+08,1,2016-05-11,5
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,2.000000e+08,1,2016-09-02,9
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,7.120000e+07,1,2016-11-17,11
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,2.000000e+08,1,2016-08-25,8
...,...,...,...,...,...,...,...,...,...,...,...,...
2916692,12D3trgho1vJ4mGtWBRPyHdMJK96TRYSry,2018,330,0,0.111111,1,0,1,1.255809e+09,1,2018-11-26,11
2916693,1P7PputTcVkhXBmXBvSD9MJ3UYPsiou1u2,2018,330,0,1.000000,1,0,1,4.409699e+07,1,2018-11-26,11
2916694,1KYiKJEfdJtap9QX2v9BXJMpz2SfU4pgZw,2018,330,2,12.000000,6,6,35,2.398267e+09,1,2018-11-26,11
2916695,15iPUJsRNZQZHmZZVwmQ63srsmughCXV4a,2018,330,0,0.500000,1,0,1,1.780427e+08,1,2018-11-26,11
2916696,3LFFBxp15h9KSFtaw55np8eP5fv6kdK17e,2018,330,144,0.073972,6800,0,2,1.123500e+08,1,2018-11-26,11

In [77]:
# Merge with output dataframe
out = pd.concat([out, heist_data])

out.head()

,address,year,day,length,weight,count,looped,neighbors,income,label,isFraud,date,month
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,100050000.0,princetonCerber,1,2017-01-11,1
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,100000000.0,princetonLocky,1,2016-05-11,5
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,200000000.0,princetonCerber,1,2016-09-02,9
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,71200000.0,princetonCerber,1,2016-11-17,11
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,200000000.0,princetonLocky,1,2016-08-25,8

In [37]:
## Merge Price Data
btc_price = pd.read_csv(BTC_DATA_PATH + "btc_price_BTC-USD.csv")

btc_price.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [ ]:
# Only use the close price, since the price fluctuates all day. 
btc_price.drop(columns=["Open", "High", "Low", "Adj Close", "Volume"], inplace=True)

btc_price.head()

In [41]:
# Convert Date to MDY columns
btc_price['Date'] = pd.to_datetime(btc_price['Date'])

btc_price['Month'] = btc_price['Date'].dt.month
btc_price['Day'] = btc_price['Date'].dt.day
btc_price['Year'] = btc_price['Date'].dt.year

btc_price = btc_price.drop(columns=['Date'])

In [45]:
# Verify output
btc_price.head()

             Close  Month  Day  Year
2708  44575.203125      2   15  2022
2709  43961.859375      2   16  2022
2710  40538.011719      2   17  2022
2711  40030.976563      2   18  2022
2712  40126.429688      2   19  2022

In [51]:
# Filter years from 2016-2019 to match fraud dataset and transaction dataset. 
btc_price = btc_price[(btc_price['Year'] >= 2016) & (btc_price['Year'] <= 2018)]

btc_price.head()

          Close  Month  Day  Year
471  434.334015      1    1  2016
472  433.437988      1    2  2016
473  430.010986      1    3  2016
474  433.091003      1    4  2016
475  431.959991      1    5  2016

In [53]:
# Verify years ends at 2018
btc_price.tail()

            Close  Month  Day  Year
1562  3654.833496     12   27  2018
1563  3923.918701     12   28  2018
1564  3820.408691     12   29  2018
1565  3865.952637     12   30  2018
1566  3742.700439     12   31  2018

In [81]:
btc_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1096 entries, 471 to 1566
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1096 non-null   float64
 1   Month   1096 non-null   int32
 2   Day     1096 non-null   int32
 3   Year    1096 non-null   int32
dtypes: float64(1), int32(3)
memory usage: 30.0 KB

In [83]:
# Rename columns before merge
btc_price = btc_price.rename(columns={'Year': 'year', 'Month': 'month', 'Day': 'day'})

btc_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1096 entries, 471 to 1566
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1096 non-null   float64
 1   month   1096 non-null   int32
 2   day     1096 non-null   int32
 3   year    1096 non-null   int32
dtypes: float64(1), int32(3)
memory usage: 30.0 KB

In [87]:
# Merge to output dataframe
out = pd.merge(btc_price, out, on=['year', 'month', 'day'], how='inner')

out.head()

,Close,month,day,year,address,length,weight,count,looped,neighbors,income,label,isFraud,date
0,434.334015,1,1,2016,131nzizNWzZTQsZVafZgds5okkscQdSJkw,6,0.50,1,0,1,34620000.0,montrealNoobCrypt,1,2016-01-01
1,434.334015,1,1,2016,3AHyaYCBShhdPXFjJ25QJMz8qkJgMKEJb5,0,1.00,1,0,1,291717868.0,white,1,2016-01-01
2,434.334015,1,1,2016,3GJZ8oUURbbtvQVVz7xn7jqp4P4brQfGaq,44,0.25,1,0,2,90104067.0,white,1,2016-01-01
3,434.334015,1,1,2016,17Kh1wrZ7DmKhHAbqAJ3FgUwZDHBcgcRN6,130,1.00,1,0,2,159087270.0,white,1,2016-01-01
4,434.334015,1,1,2016,1KpVFujL8bCZVBmcsc6QipjgSJwvhAMdHC,2,2.00,1,1,2,109959422.0,white,1,2016-01-01

In [105]:
# Verify Merge
print(out.isna().sum(), "\n")
print(len(out))

Close        0
month        0
day          0
year         0
address      0
length       0
weight       0
count        0
looped       0
neighbors    0
income       0
label        0
isFraud      0
date         0
dtype: int64

93727

In [ ]:
# Write output CSV for modeling
out.to_csv((BTC_DATA_PATH + "btc_data_cleaned.csv"), index=False, header=True, sep=',')