In [1]:
# Load libraries
import pandas as pd

from utils import Utils

In [9]:
# Filenames within the ../data/ folder for reference
"btc_elliptic_txs_classes.csv"
"btc_elliptic_txs_edgelist.csv"
"btc_elliptic_txs_features.csv"
"btc_HeistData.csv"
"btc_usd_1-min_data.csv"

'btc_usd_1-min_data.csv'

In [2]:
# Define reusable code
cols_heads_tails = Utils.cols_heads_tails

# BTC Elliptic dataset

I am not sure the relevance at this time to this project

`The Elliptic Data Set maps Bitcoin transactions to real entities belonging to licit categories (exchanges, wallet providers, miners, licit services, etc.) versus illicit ones (scams, malware, terrorist organizations, ransomware, Ponzi schemes, etc.). The task on the dataset is to classify the illicit and licit nodes in the graph.`

I think this dataset is for connecting the transactions to a real entity (organization or person)

In [13]:
df_btc_txClasses = pd.read_csv("../data/btc_elliptic_txs_classes.csv")

df_btc_txClasses.head()

        txId    class
0  230425980  unknown
1    5530458  unknown
2  232022460  unknown
3  232438397        2
4  230460314  unknown

In [17]:
df_btc_txEdgelist = pd.read_csv("../data/btc_elliptic_txs_edgelist.csv")

df_btc_txEdgelist.head()

       txId1      txId2
0  230425980    5530458
1  232022460  232438397
2  230460314  230459870
3  230333930  230595899
4  232013274  232029206

In [22]:
df_btc_txFeatures = pd.read_csv("../data/btc_elliptic_txs_features.csv")

df_btc_txFeatures.head()

,230425980,1,-0.1714692896288031,-0.18466755143291433,-1.2013688016765636,-0.12196959975910057,-0.04387454791734898,-0.11300200928476244,-0.06158379407303222,-0.16209679981659642,...,-0.5621534802884299,-0.6009988905192808,1.4613303209554889,1.4613689382001922,0.01827940003744589,-0.0874901561101501,-0.13115530389558736,-0.09752359377152515,-0.12061340670311574,-0.11979245961251665
0,5530458,1,-0.171484,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.162112,...,0.947382,0.673103,-0.979074,-0.978556,0.018279,-0.087490,-0.131155,-0.097524,-0.120613,-0.119792
1,232022460,1,-0.172107,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.162749,...,0.670883,0.439728,-0.979074,-0.978556,-0.098889,-0.106715,-0.131155,-0.183671,-0.120613,-0.119792
2,232438397,1,0.163054,1.963790,-0.646376,12.409294,-0.063725,9.782742,12.414558,-0.163645,...,-0.577099,-0.613614,0.241128,0.241406,1.072793,0.085530,-0.131155,0.677799,-0.120613,-0.119792
3,230460314,1,1.011523,-0.081127,-1.201369,1.153668,0.333276,1.312656,-0.061584,-0.163523,...,-0.511871,-0.400422,0.517257,0.579382,0.018279,0.277775,0.326394,1.293750,0.178136,0.179117
4,230459870,1,0.961040,-0.081127,-1.201369,1.303743,0.333276,1.480381,-0.061584,-0.163577,...,-0.504702,-0.422589,-0.226790,-0.117629,0.018279,0.277775,0.413931,1.149556,-0.696053,-0.695540

# btc_HeistData.csv

Displays crypto transactions that are marked as fraudulent and were used in crypto heists.

In [44]:
df_btc_heistData = pd.read_csv("../data/btc_HeistData.csv")

cols_heads_tails(df_btc_heistData)

Index(['address', 'year', 'day', 'length', 'weight', 'count', 'looped',
       'neighbors', 'income', 'label'],
      dtype='object')

                              address  year  day  length    weight  count  \
0   111K8kZAEnJg245r2cM6y9zgJGHZtJPy6  2017   11      18  0.008333      1
1  1123pJv8jzeFQaCV4w644pzQJzVWay2zcA  2016  132      44  0.000244      1
2  112536im7hy6wtKbpH1qYDWtTyMRAcA2p7  2016  246       0  1.000000      1
3  1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7  2016  322      72  0.003906      1
4  1129TSjKtx65E35GiUo4AYVeyo48twbrGX  2016  238     144  0.072848    456

   looped  neighbors       income            label
0       0          2  100050000.0  princetonCerber
1       0          1  100000000.0   princetonLocky
2       0          2  200000000.0  princetonCerber
3       0          2   71200000.0  princetonCerber
4       0          1  200000000.0   princetonLocky

                                    address  year  day  length     weight  \
2916692  12D3trgho1vJ4mGtWBRPyHdMJK96TRYSry  2018  330       0   0.111111
2916693  1P7PputTcVkhXBmXBvSD9MJ3UYPsiou1u2  2018  330       0   1.000000
2916694  1KYiKJEfdJtap9QX2v9BXJMpz2SfU4pgZw  2018  330       2  12.000000
2916695  15iPUJsRNZQZHmZZVwmQ63srsmughCXV4a  2018  330       0   0.500000
2916696  3LFFBxp15h9KSFtaw55np8eP5fv6kdK17e  2018  330     144   0.073972

         count  looped  neighbors        income  label
2916692      1       0          1  1.255809e+09  white
2916693      1       0          1  4.409699e+07  white
2916694      6       6         35  2.398267e+09  white
2916695      1       0          1  1.780427e+08  white
2916696   6800       0          2  1.123500e+08  white

# btc_usd_1-min_data.csv

btc price data.

In [45]:
df_btc_1minData = pd.read_csv("../data/btc_usd_1-min_data.csv")

cols_heads_tails(df_btc_1minData)

Index(['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

      Timestamp  Open  High   Low  Close  Volume
0  1.325412e+09  4.58  4.58  4.58   4.58     0.0
1  1.325412e+09  4.58  4.58  4.58   4.58     0.0
2  1.325412e+09  4.58  4.58  4.58   4.58     0.0
3  1.325412e+09  4.58  4.58  4.58   4.58     0.0
4  1.325412e+09  4.58  4.58  4.58   4.58     0.0

            Timestamp     Open     High      Low    Close    Volume
6703276  1.729814e+09  68161.0  68162.0  68157.0  68162.0  0.231900
6703277  1.729814e+09  68155.0  68155.0  68155.0  68155.0  0.001130
6703278  1.729814e+09  68155.0  68155.0  68155.0  68155.0  0.098314
6703279  1.729814e+09  68155.0  68209.0  68155.0  68208.0  0.390456
6703280           NaN  57854.0  57864.0  57835.0  57835.0  1.353466

In [ ]:
# Get transaction data
# https://github.com/cakcora/CoinWorks/blob/master/data.MD

# https://www.kaggle.com/datasets/sapere0/bitcoin-dataset
# Only for years 2016 - 2018 as per the heist dataset.

## btc_harvard_2016-12_02.csv
Bitcoin transaction data segmented.

In [2]:
df_btc_harvardDataTest = pd.read_csv("../data/btc_harvard_2016-12_02.csv")

In [12]:
cols_heads_tails(df_btc_harvardDataTest)

Index(['timestamp', 'source_address', 'destination_address', 'satoshi'], dtype='object')

     timestamp                      source_address  \
0  HN8AoDr4Ta5                              471119
1   1483221093  14tqbkxJNjPQPjAPfVLMKoNguyiiATwa9L
2   1483221093  19oqYvU1yzskwU5TUdLRr2bQbAp2YLtm8C
3   1483221093  19oqYvU1yzskwU5TUdLRr2bQbAp2YLtm8C
4   1483221093  1Nm5NvqQJaqsJdcM9YoHjKwtJSN8MLKryP

                  destination_address     satoshi
0                                 NaN         NaN
1  1H6J6ToTQGHLHZxT3TbqjgQ8GfeS3CDKdn    253849.0
2  1MMqhwtCD2bribSkGDy6sZoCfZogwtBpox   1173367.0
3  34g97Qa2d2XjaxSLEmDp1zSptmmdkWVNmG  95000000.0
4  1MMqhwtCD2bribSkGDy6sZoCfZogwtBpox   1173367.0

        timestamp                      source_address  \
91315  1483227844  1PvY6xtdjqGB7pLV5pFtVPusLZa1QeXQZe
91316  1483227844  1PvY6xtdjqGB7pLV5pFtVPusLZa1QeXQZe
91317  1483227844  1PvY6xtdjqGB7pLV5pFtVPusLZa1QeXQZe
91318  1483227844  1Ph7c9LNGPL9NvaUoVK99G4An9xpsh8Qsa
91319  1483227844  1Ph7c9LNGPL9NvaUoVK99G4An9xpsh8Qsa

                      destination_address    satoshi
91315  1PvY6xtdjqGB7pLV5pFtVPusLZa1QeXQZe      250.0
91316  1D6GoetErFRUquwLsLnnYmAdXay3ATHfUi   460000.0
91317  1PvY6xtdjqGB7pLV5pFtVPusLZa1QeXQZe      250.0
91318  1JH4Mf4rjxLcQCwrrHgipqdbLF1Z5jwjzZ   232237.0
91319  193PCrvtntS6GTTpMnXuRWhhLdb3pJX8qV  2576700.0

In [13]:
df_btc_harvardDataTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91320 entries, 0 to 91319
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            91320 non-null  object
 1   source_address       91320 non-null  object
 2   destination_address  91319 non-null  object
 3   satoshi              91319 non-null  float64
dtypes: float64(1), object(3)
memory usage: 2.8+ MB

Timestamp is unix timestamp "1483221093" Will have to use date and time to convert each row.

In [5]:
from datetime import datetime

timestamp = datetime.fromtimestamp(1483221093)

print(timestamp)

print("Month: ", timestamp.month)
print("Day: ", timestamp.day)
print("Year: ", timestamp.year)

2016-12-31 15:51:33
Month:  12
Day:  31
Year:  2016